
<div class="matchreport type1">
    <div class="topmenu">

    </div>
    <div class="topbar">
        <div class="clock first">
            <span style="width: 25%"></span>
        </div>
        <div class="score">2 - 2</div>
        <div class="clock second"></div>
    </div>
    <div class="middle">

        <div class="row">
            <div class="col-sm-5">
                <div class="buttons">
                    <button class="btn-scout">Mål</button>
                    <button class="btn-scout">Skud</button>
                    <button class="btn-scout">Gult Kort</button>
                    <button class="btn-scout">Rødt Kort</button>
                    <button class="btn-scout">Hjørnespark</button>
                    <button class="btn-scout">Indkast</button>
                    <button class="btn-scout">Offside</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="sign">
                    1<br/>
                    Skud
                </div>
                <div class="sign">TEST</div>
                <div class="sign">TEST</div>
                <div class="sign">TEST</div>
                <div class="sign">TEST</div>
                <div class="sign">TEST</div>
            </div>
            <div class="col-sm-5">
                <div class="buttons">
                    <button class="btn-scout">Mål</button>
                    <button class="btn-scout">Skud</button>
                    <button class="btn-scout">Gult Kort</button>
                    <button class="btn-scout">Rødt Kort</button>
                    <button class="btn-scout">Hjørnespark</button>
                    <button class="btn-scout">Indkast</button>
                    <button class="btn-scout">Offside</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                    <button class="btn-scout">Frispark</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">

    </div>
</div>

{{!-- <h1>Oprettet af {{created_by.username}}</h1>

<div class="row">
    <div class="col-sm-6">
        <img class="fnPitch" src="img/betterteam-pitch-vertical.svg" style="width: 100%"/>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                {{#each observations}}
                    <button class="btn btn-scout {{type}}" data-type="{{@key}}">
                        <span class="count">{{count}}</span>
                        <span class="text">{{name}}</span>
                    </button>
                {{/each}}
            </div>
        </div>
    </div>
</div>
 --}}
