<div class="col-sm-12">
    <div class="pitch zones">
        <div class="table">

            {{#zones}}
                <div class="tr">
                    {{#this}}
                        <div class="td zone fnValueSelect" data-value="{{id}}" data-row="{{row}}" data-column="{{column}}" data-name="{{name}}">
                            {{name}}
                        </div>
                    {{/this}}
                </div>

            {{/zones}}

        </div>
    </div>
</div>
