<h1>{{name}}</h1>

<div class="row">
    <div class="col-sm-6">
        <h2>Spillere</h2>

        {{#each players}}
            <a href="{{url url}}" class="btn btn-block btn-large">{{name}}</a>
        {{/each}}
    </div>
    <div class="col-sm-6">
        <h2>Kampe</h2>

        {{#each matches}}
            <a href="{{url url}}" class="btn btn-block btn-large">{{hometeam}}-{{awayteam}}</a>
        {{/each}}
    </div>
</div>
