<div class="row">
	<div class="col-xs-6">
		<div id="r-players" class="box fnIntroTransition">
			<h1>BetterTeam <strong>Spillere</strong></h1>


			<ul class="link-list">
			{{#each players}}
				<li><a class="btn-event" href="#/p/{{id}}"><span>{{name}}</span></a></li>
			{{/each}}
			</ul>

		</div>
	</div>

	<div class="col-xs-6">
		<div id="r-matches" class="box fnIntroTransition">
			<h1>BetterTeam <strong>Kampe</strong></h1>

			{{#each matches}}
				<a class="btn-event" href="#/m/{{id}}"><span>{{hometeam}}-{{awayteam}}</span></a>
			{{/each}}
		</div>
	</div>

</div>