<div class="row">
	<div class="col-md-8">
		<div id="r-players" class="box fnIntroTransition">
			<h1>BetterTeam <strong>Spillere</strong></h1>


			<ul class="link-list">
			{{#each players}}
				<li><a class="btn-event" href="#/p/{{id}}"><span>{{name}}</span></a></li>
			{{/each}}
			</ul>

		</div>
	</div>

	<div class="col-md-4">
		<div id="r-matches" class="box fnIntroTransition">
			<h1>BetterTeam <strong>Kampe</strong></h1>

			{{#each matches}}
				<a class="btn-event" href="#/m/{{id}}"><span>{{hometeam}}-{{awayteam}}</span></a>
			{{/each}}

			<div id="create-match-form" class="hidden">
				<form role="form">
					<table class="table">
						<tr>
							<td>
							  <div class="form-group">
							    <label for="hometeam">Email address</label>
							    <input type="text" class="form-control" id="hometeam" placeholder="Hjemmehold">
							  </div>			
							</td>
							<td>
							  <div class="form-group">
							    <label for="awayteam">Email address</label>
							    <input type="text" class="form-control" id="awayteam" placeholder="Udehold">
							  </div>			
							</td>
						</tr>

					</table>
				</form>
			</div>

			<a class="btn-event btn-alt" id="btn-create-match"><span>Opret Kamp</span></a>
		</div>
	</div>

</div>