<div class="scoreboard text-center">
	{{hometeam}} <strong>{{homescore}}-{{awayscore}}</strong> {{awayteam}}
</div>

{{!-- 
<div class="scoreboard">
	<div class="team team-home">
		<div class="filler filler-left"></div>
		<div class="score">
			<table>
				<tr>
					<td>{{hometeam}}</td>
					<td>{{homescore}}</td>
				</tr>
			</table>
		</div>
		<div class="filler filler-right"></div>
	</div>

	<div class="team team-away">
		<div class="filler filler-left"></div>
		<div class="score">
			<table>
				<tr>
					<td>{{awayteam}}</td>
					<td>{{awayscore}}</td>
				</tr>
			</table>
		</div>
		<div class="filler filler-right"></div>
	</div>
</div>
--}}